.admin-section {
  margin-top: 3%;
}
.admin-form {
  margin-top: 10%;
  height: 300px;

  border-radius: 5px;
}
.input2 {
  padding-left: 10px;
  height: 40px;
  font-weight: 600;
  width: 95%;

  margin-top: 40%;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
}

.input2:hover {
  box-shadow: inset 1px 1px 1.5px rgb(77, 77, 235), inset -1px -1px 1.5px rgb(76, 76, 240);
}
.admBtn {
  height: 33px;
  border-radius: 5px;
  color: white;
  background: tomato;
  border: 1px solid tomato;
  margin-top: 20px;
  margin-left: 57px;
  transition: 0.3s;
  padding-left: 5px;
  padding-right: 5px;
}
.admBtn:hover {
  transition: 0.3s;
  background: rgb(255, 255, 255);
  color: black;
}
