.dashboard {
  overflow: hidden;
}
.totalOrder {
  height: 100px;
  width: 300px;
  background: rgb(3, 118, 250);
  box-shadow: 2px 2px 12px rgb(206, 197, 197);
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.dash {
  margin-bottom: 5%;
}
.order-to {
  margin-top: 3%;
  font-size: 23px;
}
.order-length {
  color: tomato;
}
.order-li {
  text-decoration: none;
}
